body {
    font-family: "Comic Sans MS";
}
span h1 {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #4b0082, #0000ff);
}

.row {
    margin: 1%;
}