body {
    font-family: "Roboto", sans-serif;
}
span h1 {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #4b0082, #0000ff);
}

.row {
    margin: 1%;
}

#city-search {
    width: 120px;
}

#search-btn {
    margin-top: 2%;
}

.card {
    text-align: center;
    background-color: lightblue;
}
